MANIFEST

*.log

*.py[cod]

*.c

# C extensions
*.so

# Packages
*.egg
*.egg-info
data
log
dist
build
eggs
parts
var
sdist
docs/xml
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.coveralls.yml

.idea

docs/_build
docs/xml
docs/apidoc_output
docs/examples

tests/.coverage
tests/.benchmarks

notebooks/*.csv
notebooks/*.xlsx
# My stuf
notebooks-old/*
notebooks/.ipynb_checkpoints
